@media screen and (max-width: 1366px) {
    #works .works_detail figure.pc {
        left: 47vw;
    }
    #contact h2 {
        font-size: 6.5vw;
        letter-spacing: -1px;
    }
}

@media screen and (max-width: 1024px) {
    nav h1 a {
        width: 6vw;
    }
    nav ul li {
        font-size: 1.85vw;
    }
    #intro .greeting {
        font-size: 2.125vw;
    }
    #intro .intro_wrap p {
        font-size: 10vw;
    }
    #intro a.send-mail {
        bottom: 18%;
        font-size: 1rem;
    }
    section h2 {
        font-size: 10vw;
    }
    #about {
        grid-template-columns: 34vw 1fr;
    }
    #about figure span {
        right: 5vw;
        min-width: 300px;
    }
    #about .wrapper {
        margin-top: 0;
    }
    #about .wrapper article:nth-of-type(odd) {
        width: 40%;
    }
    #about .wrapper article:nth-of-type(even) {
        width: 60% !important;
    }
    #about .wrapper article h3 {
        margin-bottom: 15px;
    }
    #skills li {
        height: 60px;
    }
    #works .works_detail .pagination h3 {
        display: inline-block;
        font-size: 1.825rem;
    }
    #contact input {
        margin: -45px 0 10px;
    }
    #contact input,
    #contact label,
    #contact button {
        height: 45px;
        line-height: 45px;
    }
}

@media screen and (max-width: 768px) {
    nav h1 a {
        min-width: 40px;
    }
    nav ul {
        width: 95vw;
    }
    nav ul li {
        font-size: .875rem;
    }
    section h2 {
        letter-spacing: -2px;
    }
    #intro .greeting {
        font-size: 1rem;
    }
    #intro a.send-mail {
        font-size: .825rem;
    }
    #about {
        padding-bottom: 0;
        display: block;
    }
    #about figure {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0 10%;
        order: 3;
    }
    #about figure span {
        right: -100px !important;
        top: auto;
        bottom: 100px !important;
        width: 35vw;
        min-width: 220px;
        transform: rotate(-45deg) !important;
    }
    #about figure span img {
        transform: rotate(45deg) translate(20%, 5%) !important;
    }
    #about .introduce {
        padding: 0 10%;
        order: 1
    }
    #about .wrapper {
        padding: 0 10%;
        order: 2
    }
    #about .wrapper article {
        width: 100% !important;
    }
    #about .wrapper article:nth-of-type(2n) {
        width: 100% !important;
    }
    #about .wrapper article h3 {
        margin-bottom: 15px;
    }
    #skills li {
        height: 50px;
    }
    #works .works_detail {
        padding-top: 60px !important;
        overflow: auto;
        min-height: 100vh;
    }
    #works .works_detail .pagination {
        margin: 0 auto 60px;
    }
    #works .works_detail .works_title,
    #works .works_detail .works_desc,
    #works .works_detail .works_tags {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
    #works .works_detail .works_title {
        margin-bottom: 30px;
    }
    #works .works_detail .works_tags {
        margin: 40px 0 0 0;
    }
    #works .works_detail figure {
        overflow: hidden;
        position: relative;
        left: auto !important;
        top: auto !important;
        margin: 80px auto;
        transform: translate(0, 0) !important;
    }
    #works .works_detail figure.tab {
        transform: translateX(-5%) !important;
    }
    #contact input {
        margin-top: -40px;
    }
    #contact input,
    #contact label,
    #contact button {
        height: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 480px) {
    nav ul li:not(.logo) {
        margin: 0;
        width: 25% !important;
        font-size: 3.2vw;
    }
    nav ul li {
        max-width: 100% !important;
    }
    nav ul li:nth-of-type(1) {
        margin-bottom: 20px !important;
        width: 100% !important;
        order: 1;
    }
    nav ul li:nth-of-type(1) a {
        margin: 0 auto;
    }
    nav ul li:nth-of-type(2) {
        order: 2;
    }
    nav ul li:nth-of-type(3) {
        order: 3;
    }
    nav ul li:nth-of-type(4) {
        order: 4;
    }
    nav ul li:nth-of-type(5) {
        order: 5;
    }
    #intro .greeting {
        font-size: 14px;
    }
    #intro .intro_wrap p {
        font-size: 13vw;
    }
    section h2 {
        font-size: 10vw;
    }
    #skills ul {
        margin-top: 6vh;
        height: auto;
    }
    #skills li {
        padding: 6%;
        width: 33%;
        min-width: 40px;
        height: auto;
    }
    #skills .text_area {
        padding: 80px 20px;
        border: none;
    }
    #skills .text_area h3 {
        font-size: 1.125rem;
    }
    #contact form {
        width: 90vw;
        min-width: 200px;
    }
}

@media screen and (max-width: 280px) {
    nav ul li {
        font-size: 4.2vw;
    }
    #intro .greeting {
        margin-top: 28vh;
        font-size: 1.25.75rem;
    }
}

@media (orientation: landscape) {
    section {
        min-height: 100vh;
    }
}

@media (orientation: portrait) {

    #works .works_detail {
        padding-top: 60px !important;
        overflow: auto;
        min-height: 100vh;
    }
    #works .works_detail .pagination {
        margin: 0 auto 60px;
    }
    #works .works_detail .works_title,
    #works .works_detail .works_desc,
    #works .works_detail .works_tags {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
    #works .works_detail .works_title {
        margin-bottom: 30px;
    }
    #works .works_detail .works_tags {
        margin-top: 40px;
    }
    #works .works_detail .works_tags span:nth-of-type(1) {
        margin-left: 3px;
    }
    #works .works_detail figure {
        overflow: hidden;
        position: relative;
        left: auto !important;
        top: auto !important;
        margin: 80px auto;
        transform: translate(0, 0) !important;
    }
    #works .works_detail figure.pc {
        width: 82vw;
    }
    #works .works_detail figure.tab {
        width: 85vw;
        transform: translateX(-5%) !important;
    }
    #works .works_detail figure.mobile {
        width: 60vw;
    }
}