@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;500&family=Nanum+Gothic:wght@400;800&family=Sofia+Sans+Condensed:wght@600&family=Oswald:wght@400;500&display=swap');

:root {
    --color-light: #f9f7f7;
    --color-dark: #112d4e;
    --color-mid: #3f72af;
    --font-tit: 'Kodchasan', sans-serif;
    --font-desc: 'Nanum Gothic', sans-serif;
    --logo-height: 6vw;
    --swiper-centered-offset-before: 20vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, textarea {
    font-family: var(--font-desc);
}
body {
    width: 100vw;
    height: 100vh;
}
ol, ul, li {
    list-style: none;
}

a, a:link, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    transition: .5s all;

}
header::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(180deg, rgba(43, 59, 82, .5) 0%, transparent 73%);
    transition: .5s all;
}
header.on::before {
    opacity: 1;
}
nav {
    position: relative;
    padding: 50px 0 0;
    font-size: 0;
    line-height: 0;
    transition: 1s all;
}
nav ul {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 90vw;
    transition: .5s all;
}
nav ul li {
    position: relative;
    padding: 0 1.5vw;
    margin: 0 !important;
    min-width: 10vw;
    max-width: 240px;
    font: 500 1.125rem/2rem var(--font-tit);
    color: var(--color-dark);
}
nav ul li a {
    display: block;
    height: 100%;
    text-align: center;
    transition: .3s color linear;
}
nav ul li:nth-of-type(1) {
    order: 3;
}
nav ul li:nth-of-type(2) {
    order: 1;
}
nav ul li:nth-of-type(3) {
    order: 2;
}
nav ul li:nth-of-type(4) {
    order: 4;
}
nav ul li:nth-of-type(5) {
    order: 5;
}
nav .logo a {
    display: block;
    margin: 0 auto;
    max-width: 70px;
    width: var(--logo-height);
    aspect-ratio: 1;
    line-height: 0;
}
nav ul.on li:not(.logo) a {
    padding: 0 10px;
    transition: .5s all;
    border-radius: 20px;
}
nav ul.on li:not(.logo) a:hover,
nav ul.on li:not(.logo) a.on {
    background: rgba(206, 219, 234, .35);
}
nav .logo a svg path {
    fill: var(--color-dark);
    transition: 1s fill linear;
}
nav .logo.change a svg path {
    fill: var(--color-light);
}

/* main */
section {
    overflow: hidden;
    position: relative;
    padding: 100px 0;
    width: 100%;
}
section h2 {
    margin-top: 100px;
    text-align: center;
    font: 200 7vw/1 var(--font-tit);
    letter-spacing: -5px;
}

/* Intro */
#intro {
    padding-bottom: 0;
    background-color: var(--color-light);
}
#intro .greeting {
    position: relative;
    margin-top: 100px;
    text-align: center;
    font: 500 1.25rem/2rem var(--font-desc);
    color: var(--color-dark);
    z-index: 3;
}
#intro .greeting span {
    display: block;
    font-weight: 800;
}
#intro .intro_wrap {
    margin-top: 10%;
    width: 100%;
    z-index: 1;
}
#intro .intro_wrap p {
    width: 100%;
    text-align: center;
    font: 200 7vw/.73 var(--font-tit);
    color: var(--color-dark);
    letter-spacing: -5px;
}
#intro .intro_wrap p:nth-of-type(1) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
#intro .intro_wrap p:nth-of-type(2) {
    position: relative;
    overflow: hidden;
    min-height: 350px;
    padding-left: 5px;
    background-color: var(--color-dark);
    z-index: 1;
}
#intro .intro_wrap p:nth-of-type(2) span {
    display: block;
    line-height: .66;
    color: var(--color-light);
}
#intro .intro_wrap p:nth-of-type(2):before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("../images/office.png") no-repeat 50% 80%;
    background-size: cover;
    opacity: .1;
    z-index: 2;
}
#intro a.send-mail {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin: 100px auto 0;
    min-height: 50px;
    max-height: 70px;
    height: 4vw;
    font: 400 1.125rem/1 var(--font-desc);
    letter-spacing: 0;
    color: var(--color-light);
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 35px;
    z-index: 4;
    transition: .5s all;
}
#intro a.send-mail i {
    margin-right: 6px;
}

/* ABOUT */
#about {
    display: grid;
    grid-template-columns: 38.9vw 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: start;
    color: var(--color-dark);
    background: #fff;
}
#about h2 {
    display: none;
}
#about figure,
#about .introduce,
#about .wrapper {
    position: relative;
}
#about figure {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: -100px 5vw 0 0;
    height: 100%;
}
#about figure span {
    overflow: hidden;
    position: absolute;
    display: block;
    right: 15vw;
    top: 13vh;
    min-width: 400px;
    width: 26vw;
    aspect-ratio: .5;
    background: var(--color-light);
    border-radius: 250px 250px 0 0;
    transform: rotate(45deg);
}
#about figure img {
    width: 55%;
    transform: rotate(-45deg) translate(50%, 25%);
}
#about .introduce {
    margin: 80px 0 7.4vh;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
#about .wrapper {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
#about .wrapper article {
    margin-bottom: 50px;
    width: 33.33%;
}
#about .wrapper article h3 {
    display: inline-block;
    margin-bottom: 30px;
    font: 600 1.25rem/1 'Sofia Sans Condensed', sans-serif;
}
#about .wrapper article h3:after {
    display: block;
    content: '';
    margin-top: 5px;
    width: 100%;
    height: 3px;
    background: var(--color-dark);
}
#about .wrapper article:nth-of-type(4) {
    width: 100%;
}
#about li {
    margin-bottom: 5px;
}
#about .wrapper article .year {
    display: inline-block;
    width: 75px;
    font: 400 0.9375rem/1 'Oswald', sans-serif;
    vertical-align: middle;
}
#about .edu {
    margin-right: 8px;
    width: auto !important;
}

/* SKILLS */
#skills {
    background: #1d3045;
}
#skills h2 {
    color: var(--color-light);
}
#skills ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 18vh auto 0;
    width: 80%;
    height: 85px;
    perspective: 1500px;
}
#skills li {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    transition: 1s all;
}
#skills li span {
    position: relative;
    display: block;
    height: 100%;
    transition: 1s all;
    z-index: 3;
}
#skills li span::before {
    position: absolute;
    display: block;
    content: '';
    left: 50%;
    top: 50%;
    width: 100%;
    height: 4px;
    background: #1d3045;
    transform: translate(-50%, -2px);
    z-index: 2;
}
#skills li span img {
    position: relative;
    z-index: 4;
}
#skills li:nth-of-type(3) span::before,
#skills li:nth-of-type(4) span::before {
    width: 78%;
}
#skills li:nth-of-type(6) span::before {
    width: 70%;
}
#skills ul:hover li {
    transform: scale(.8);
}
#skills ul:hover li img {
    opacity: .3;
}
#skills ul:hover li:hover span {
    transform: scale(1.5) rotate3d(0, 1, 0, 360deg);
    cursor: pointer;
}
#skills ul:hover li:hover img {
    opacity: 1 !important;
}
#skills .text_area {
    margin-top: -43px;
    padding: 130px 10% 0;
    width: 100%;
    height: 230px;
    text-align: center;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .2);
}
#skills .text h3 {
    margin-bottom: 20px;
    line-height: 1.5rem;
    word-break: keep-all;
}
#skills .text p {
    word-break: keep-all;
}
#skills .text p span {
    display: inline-block;
    margin: 2px;
    padding: 5px 8px;
    color: #fff;
    background-color: rgba(63, 114, 175, .5);
    border-radius: 15px;
}
#works {
    background-color: var(--color-light);
    color: var(--color-dark);
}
#works h2 {
    color: var(--color-dark);
}
#works .work_lists {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 7.8vw;
    margin-top: 70px;
    width: 100%;
    z-index: 1;
}
#works .work_lists::before {
    position: absolute;
    display: block;
    margin-top: 30px;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid var(--color-dark);
    z-index: 2;
}
#works .guide {
    content: '';
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 99;
}
#works .guide span {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 150px;
    height: 150px;
    font-size: 0;
    line-height: 0;
    background: #fff url("../images/swipe.gif") no-repeat 50% 50%;
    background-size: 100px auto;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
#works article {
    position: relative;
    display: block;
    margin-right: 2.5vw;
    width: 18vw;
}
#works article .text_wrap {
    font: 800 .875rem/1 var(--font-desc);
}
#works article .text_wrap .year {
    display: inline-block;
    padding: 30px 0 30px;
    font: 500 1.325rem/2rem 'Oswald', sans-serif;
    letter-spacing: -1px;
    position: relative;
    transition: .5s all;
}
#works article .text_wrap .year::after {
    position: absolute;
    left: 0;
    top: 62px;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    font-size: 0;
    line-height: 0;
    background: var(--color-dark);
    transition: .5s all;
}
#works article .text_wrap .title {
    margin-bottom: 10px;
}
#works article .text_wrap .desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: 30px;
    height: 1.125rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
}
#works article .text_wrap .tags {
    display: none;
}
#works article figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1.75;
    background: var(--color-dark);
}
#works article figure img {
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    mix-blend-mode: luminosity;
    opacity: .5;
    transform: translate(-50%, -50%);
    transition: .5s all;
}
#works article:hover .year {
    padding: 20px 0 40px 0;
    color: var(--color-mid);
}
#works article:hover .year::after {
    top: 0;
    background-color: var(--color-mid);
}
#works article:hover figure img {
    mix-blend-mode: normal !important;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}
#works article:hover figure::after {
    position: relative;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .5) url("../images/window_bg.png") no-repeat 50% 50%;
    background-size: cover;
    z-index: 5;
}
.swiper {
    padding-bottom: 80px !important;
}
.swiper-pagination-bullet {
    margin: 0 3px !important;
    width: 2px;
    height: 12px;
    border-radius: 0;
    background-color: #90a2b7;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    height: 15px;
    background: var(--color-dark);
}
.swiper-slide {
    max-width: 230px !important;
}

/* Works Detail*/
#works .works_detail {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding: 14.8vh 9.8vw 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: #d9e4f2;
}
#works .works_detail .pagination {
    position: relative;
    margin-bottom: 130px;
    min-width: 250px;
    width: 30vw;
    max-width: 320px;
    text-align: center;
    z-index: 101;
    transition: .5s all;
}
#works .works_detail .pagination h3 {
    display: inline-block;
    font: 400 2.25rem/2rem 'Oswald', sans-serif;
}
#works .works_detail .pagination h3::before {
    display: block;
    content: " ";
    margin-bottom: 20px;
    width: 100%;
    height: 5px;
    background-color: var(--color-dark);
}
#works .works_detail .pagination a {
    display: block;
    position: absolute;
    padding: 0 40px;
    top: 40px;
    font-size: .75rem;
    transition: .5s all;
}
#works .works_detail .pagination a.deactive {
    opacity: .3;
}
#works .works_detail .pagination a::before,
#works .works_detail .pagination a::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    content: '';
    width: 30px;
    height: 1px;
    background: var(--color-dark);
    transition: .5s all;
}
#works .works_detail .pagination a.prev {
    padding-right: 0;
    left: 0;
}
#works .works_detail .pagination a.next {
    padding-left: 0;
    right: 0;
}
#works .works_detail .pagination a.prev::before,
#works .works_detail .pagination a.prev::after {
    left: 0;
    transform-origin: 0 100%;
}
#works .works_detail .pagination a.next::before,
#works .works_detail .pagination a.next::after {
    right: 0;
    transform-origin: 100% 0;
}
#works .works_detail .pagination a.prev:hover {
    padding: 0 10px 0 30px;
}
#works .works_detail .pagination a.next:hover {
    padding-right: 40px;
}
#works .works_detail .pagination a.prev:hover::before {
    transform: rotate(45deg);
}
#works .works_detail .pagination a.prev:hover::after {
    transform: rotate(-45deg);
}
#works .works_detail .pagination a.next:hover {
    padding: 0 30px 0 10px;
}
#works .works_detail .pagination a.next:hover::before {
    transform: rotate(45deg);
}
#works .works_detail .pagination a.next:hover::after {
    transform: rotate(-45deg);
}
#works .works_detail .works_title {
    margin-bottom: 50px;
    font: 800 1.125rem/1 var(--font-tit);
}
#works .works_detail .works_desc {
    max-width: 30vw;
    font-size: .875rem;
    line-height: 1.5rem;
}
#works .works_detail .works_tags {
    max-width: 30vw;
    margin: 40px 0 0 -5px;
}
#works .works_detail .works_tags span {
    display: inline-block;
    margin: 5px;
    padding: 7px 13px;
    color: var(--color-mid);
    font-size: 0.725rem;
    background: rgba(255, 255, 255, .8);
    border-radius: 18px;
}
#works .works_detail .works_tags span::before {
    content: "#";
}
#works .works_detail figure {
    position: absolute;
    z-index: 1;
    transition: .5s left;
}
#works .works_detail figure .frame {
    position: relative;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 3;
}
#works .works_detail figure .img_wrap {
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 2;
}
#works .works_detail figure .img_wrap img {
    width: 100%;
}
#works .works_detail figure.pc {
    left: 43vw;
    top: 50%;
    width: 60vw;
    transform: translateY(-50%);
}
#works .works_detail figure.pc .frame {
    aspect-ratio: 1.275;
    background-image: url("../images/frame_pc.png");
}
#works .works_detail figure.pc .img_wrap {
    left: 4%;
    top: 5.6%;
    width: 92.2%;
    height: 66.2%;
}
#works .works_detail figure.tab {
    left: 45.2vw;
    top: 50%;
    width: 57vw;
    transform: translateY(-50%);
}
#works .works_detail figure.tab .frame {
    aspect-ratio: 1.6;
    background-image: url("../images/frame_tab.png");
}
#works .works_detail figure.tab .img_wrap {
    left: 21.3%;
    top: 4.5%;
    width: 76.2%;
    height: 91%;
}
#works .works_detail figure.mobile {
    left: 52vw;
    top: 14vh;
    width: 33.8vw;
}
#works .works_detail figure.mobile .frame {
    aspect-ratio: .5;
    background-image: url("../images/frame_mobile.png");
}
#works .works_detail figure.mobile .img_wrap {
    left: 6.5%;
    top: 3.3%;
    width: 86.1%;
    height: 93.35%;
}
.btn_close {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--color-dark);
    opacity: .8;
    transform: translate(-50%, -50%);
    z-index: 100;
    cursor: none;
}
.btn_close i {
    margin-top: 7px;
}

/* contact */
#contact {
    min-height: 100vh;
    background: #596c84;
}
#contact h2 {
    margin-bottom: 30px;
    font-size: 6vw;
    color: #fff;
}
#contact form {
    position: relative;
    display: block;
    margin: 0 auto;
    min-width: 400px;
    width: 35vw;
}
#contact input,
#contact textarea {
    position: relative;
    display: block;
    margin: -50px 0 15px;
    padding: 0 20px 0 80px;
    width: 100%;
    height: 50px;
    font-size: 0.825rem;
    color: #fff;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 50vh;
    z-index: 1;
    transition: .5s all;
}
#contact textarea {
    padding: 20px;
    margin-top: 0;
    height: 200px;
    line-height: 1.25rem;
    border-radius: 20px;
    resize: none;
}
#contact input::placeholder,
#contact textarea::placeholder {
    color: rgba(255, 255, 255, .5);
}
#contact input:focus,
#contact textarea:focus {
    color: var(--color-dark);
    background: rgba(255, 255, 255, .5);
    border: none;
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
#contact button {
    display: block;
    width: 100%;
    height: 50px;
    color: var(--color-dark);
    border-radius: 25px;
    border: none;
    background: rgba(255, 255, 255, .8);
    transition: .5s all;
}
#contact button i {
    margin-right: 10px;
}
#contact button:focus,
#contact button:active {
    background: rgba(29, 48, 69, .8);
    color: #fff;
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
#contact label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    height: 50px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    z-index: 2;
}
#contact label i {
    line-height: 50px;
    color: #fff;
}
#contact label.hidden {
    margin: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
    color: transparent;
}
.thankyou_message {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 101;
}
.thankyou_message .inner_wrap {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    left: 50%;
    top: 50%;
    padding: 50px 20px !important;
    width: 400px !important;
    height: auto !important;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    z-index: 101;
    transform: translate(-50%, -50%);
}
.thankyou_message h2 {
    padding: 0;
    margin: 0 !important;
    width: 100%;
    text-align: center;
    font-family: var(--font-desc);
    font-size: 1rem;
    line-height: 1.125rem;
    letter-spacing: 0;
    color: #333 !important;
}
.thankyou_message h2 em {
    display: block;
    margin-bottom: 40px;
    font: normal 400 2rem/1 var(--font-tit);
}
.thankyou_message h2 em i {
    margin-bottom: 20px;
}
.thankyou_message .done {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    color: #333;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}