/* Header */
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  transition: .5s all;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(180deg, rgba(43, 59, 82, .5) 0%, transparent 73%);
    transition: .5s all;
  }
  &.on:before {
    opacity: 1;
  }

  nav {
    position: relative;
    padding: 50px 0 0;
    transition: 1s all;
    ul {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 1200px;
      width: 90vw;
      height: 70px;
      transition: .5s all;
      gap: 5vw;
      li {
        position: relative;
        padding: 0 1.5vw;
        max-width: 240px;
        font: 500 1.125rem/2rem var(--font-tit);
        color: var(--color-dark);
        button {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: .3s color linear;
          text-transform: uppercase;
        }
        &:nth-of-type(2) {
          order: 1;
        }
        &:nth-of-type(3) {
          order: 2;
        }
        &:nth-of-type(4) {
          order: 4;
        }
        &:nth-of-type(5) {
          order: 5;
        }
        &.logo {
          order: 3;
          button {
            display: block;
            margin: 0 auto;
            max-width: 70px;
            width: var(--logo-height);
            aspect-ratio: 1;
            font-size: 0;
            line-height: 0;
            svg path {
              fill: var(--color-dark);
              transition: 1s fill linear;
            }
          }
          &.change {
            button svg path {
              fill: var(--color-light);
            }
          }
        }
      }
      &.on li button {
        padding: 0 10px;
        transition: .5s all;
        border-radius: 20px;
        &:hover,
        &.on {
          background: rgba(206, 219, 234, .35);
        }
      }
    }
  }
}