/* Header */
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  transition: .5s all;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(180deg, rgba(43, 59, 82, .5) 0%, transparent 73%);
    transition: .5s all;
  }
  &.on:before {
    opacity: 1;
  }

  nav {
    position: relative;
    padding: 6.5vmax 0 0;
    transition: .3s all;
    ul {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 1200px;
      width: 90vw;
      height: 70px;
      transition: .3s all;
      gap: 5vw;
      li {
        position: relative;
        padding: 0 1.5vw;
        max-width: 240px;
        font: 500 1.125rem/2rem var(--font-tit);
        color: var(--navColor);
        button {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: .3s color linear;
          text-transform: uppercase;
          cursor: pointer;
        }
        &:nth-of-type(2) {
          order: 1;
        }
        &:nth-of-type(3) {
          order: 2;
        }
        &:nth-of-type(4) {
          order: 4;
        }
        &:nth-of-type(5) {
          order: 5;
        }
        &.logo {
          order: 3;
          button {
            position:relative;
            display: block;
            margin: 0 auto;
            max-width: 70px;
            width: var(--logo-height);
            aspect-ratio: 1;
            font-size: 0;
            line-height: 0;
            z-index:2;
            + svg {
              position:absolute;
              left:0;
              top:0;
              width:100%;
              height:100%;
              z-index:1;
              path {
                fill: var(--navColor);;
                transition: .3s fill linear;
              }
            } 
          }
        }
        &:before {
         position: absolute;
         display:block;
         content: '';
         left:calc(50% - 4px);
         top: calc(50% - 4px);
         width:8px;
         height:8px;
         background: skyblue;
         border-radius: 50%;
         opacity: 0;
         transition: .3s all;
        }
        &.on {
          color:skyblue;
          &:before {
            top: calc(0% - 14px);
            opacity: 1;
          }
        }
      }
      &.on li button {
        padding: 0 10px;
        transition: .3s all;
        border-radius: 20px;
        &:hover,
        &.on {
          background: rgba(206, 219, 234, .35);
        }
      }
    }
  }
}